body {
    border: 2px solid green;
}

div {
    border: 2px solid black;
    margin: 20px 30px;
}

section {
    border: 2px solid blue;
    margin: 15px 80px;
}

p {
    margin: 15px 40px;
    font-weight: 600;
}
