* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

body {
    background: #eee;
}

.quote {
    font-size: 3rem;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 40px auto;
    gap: 20px;
}

h2 {
    flex: 1 1 100%;
}

.left {
    display: flex;
    flex-wrap: wrap;
    width: calc(70% - 20px);
    gap: 20px;
}

.right {
    display: flex;
    flex-wrap: wrap;
    width: 30%;
    flex-direction: column;
}

.article-left {
    background: white;
    display: flex;
    flex-wrap: wrap;
    border-radius: 3px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    flex: 1 1 auto;
}

.article-right {
    display: flex;
    flex-direction: column;
    background: white;
    flex-wrap: wrap;
    border-radius: 3px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    flex: 1 1 auto;
    gap: 20px;
    padding: 20px;
}

.content-left {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    width: calc(70%);
    padding: 20px;
}

.shape-left {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-left {
    opacity: 0.7;
}

.text-right {
    opacity: 0.7;
}

.author-left {
    font-size: 1.5rem;
    font-weight: 900;
}

.author-right {
    font-size: 1.5rem;
    font-weight: 900;
}

.shape-left {
    display: flex;
}

.outer-left-shape {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 70%;
    height: 70%;
    border-radius: 50%;
    padding: 3px;
    align-self: center;
}

.outer-right-shape {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 50%;
    width: 30%;
    height: 30%;
    padding: 3px;
}

.inner-left-shape {
    background: green;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.inner-right-shape {
    background: green;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
