body {
    width: 100%;
    max-height: 300px;
    border: 2px solid green;
}

article {
    border: 2px solid blue;
    width: 75vw;
    margin: 20px auto;
}
article header,
main,
footer {
    text-align: center;
    border: 1px solid black;
    margin: 20px 20px;
    font-weight: bold;
}
