@media screen and (max-width: 600px) {
    nav {
        display: flex;
        flex-direction: column;
    }

    .header-title {
        padding-top: 1em;
        padding-bottom: 1em;
    }
    .our-dogs ul {
        gap: 30px;
    }
    .our-dogs ul > li {
        flex: 0 0 calc(50% - 30px);
    }
    .our-dogs ul li img {
        width: 100%;
        aspect-ratio: 1/1;
    }

    .helpNeed ul {
        flex-direction: column;
    }
}
